.dookoo { color: orange; }
.foo { border: 1px solid black; color: #fff; }
.foo { border: 1px solid black; color: #fff; }
#content { font-size: 12px; }
#content > #header { font-size: * 2; }
#content > .small { color: #fff; font-size: / 2; }
#content > .small { color: #fff; font-size: / 2; }
#content > .small > .hover_controls { display: none; }
#content > .small:hover > .hover_controls { display: inline-block; }