.whitespace { color: white; }
.whitespace { color: white; }
.whitespace { color: white; }
.whitespace { color: white; }
.whitespace { color: white; }
.white { color: white; }
.space { color: white; }
.mania { color: white; }
.no-semi-column { color: white; }
