.whitespace { color: white; }
.whitespace { color: white; }
.whitespace { color: white; }
.whitespace { color: white; }
.whitespace { color: white; }
.white { color: white; }
.space { color: white; }
.mania { color: white; }
.no-semi-column { color: white; }
.no-semi-column {
  color: white;
  white-space: pre;
}
.newlines { border: 2px solid black; }
