.whitespace, .white, .space, .mania, .no-semi-column { color: white; }
.whitespace { color: white; }
.whitespace { color: white; }
.whitespace { color: white; }
.whitespace { color: white; }
.no-semi-column { color: white; }
.no-semi-column {
  color: white;
  white-space: pre;
}
.newlines { border: 2px solid black; }
