ul li:first-child { border-top: none; }
q:lang(no) { quotes: '~' '~'; }
.no-semi-column { color: orange; }
body { text-shadow: #333 -1px 1px 2px; border-color: #888; font-size: 10px; margin: -5px 0 5px 10px; background-color: #aaa; border: solid 1px #000; -moz-border-radius: 3px; font-family: 'Lucida Grande', 'Helvetica', Verdana, sans-serif; color: #ccc; }
td, tr, table { border-width: 4px; }
.space { color: purple; font-color: yellow; }
blockquote:before { color: red; }
.root > a:hover, a:focus { color: orange; }
.root > a { display: none; color: blue; }
.root > .first > .second > .third { border-color: blue; font-size: 8px; background-color: blue; color: red; }
.root > .first > .second { }
.root > .first { color: green; }
.root { }
.p:first-letter { color: red; }
.extra > .dark-borders { border-color: #444444; }
.extra > .light-borders { border-color: #888; }
.extra { }
ul li:first-child, ul li:last-child { background-color: #333; }
.borders { }
.root:hover a { display: block; }
.operations { colorb: #333333; font-size: 66; colorc: #777777; line-height: 7px; border-width: 16px; color: #eeeeee; }
:focus { outline: 0; content: '*}#f~ '; }
.theme { background-color: #aaa; color: #ccc; }
.transparent_box { opacity: 0.6; background-color: #FFF; filter: alpha(opacity=60); }