.theme { color: #ccc; background-color: #aaa; }
.extra > .dark-borders { border-color: #444444; }
.extra > .light-borders { border-color: #888; }
.extra { }
.borders { }
.root > a { color: blue; display: none; }
.root > a:hover, a:focus { color: orange; }
.root > .first > .second > .third { background-color: blue; font-size: 8px; color: red; border-color: blue; }
.root > .first > .second { }
.root > .first { color: green; }
.root { }
.root:hover a { display: block; }
body { font-size: 10px; font-family: 'Lucida Grande', 'Helvetica', Verdana, sans-serif; margin: -5px 0 5px 10px; border: solid 1px #000; text-shadow: #333 -1px 1px 2px; -moz-border-radius: 3px; color: #ccc; background-color: #aaa; border-color: #888; }
.operations > div { width: 80px; }
.operations { width: 110px; border-width: 16px; font-size: 66; line-height: 7px; color: #eeeeee; colorb: #333333; colorc: #777777; }
td, tr, table { border-width: 4px; }
ul li:first-child { border-top: none; }
ul li:first-child, ul li:last-child { background-color: #333; }
.p:first-letter { color: red; }
:focus { outline: 0; content: '*}#f~ '; }
q:lang(no) { quotes: '~' '~'; }
blockquote:before { color: red; }
.transparent_box { background-color: #FFF; filter: alpha(opacity=60); opacity: 0.6; }
.space { color: purple; font-color: yellow; }
.no-semi-column { color: orange; }