// LESS
// the main color
@base-color: #fff;
@darker-color: @base-color / 2;
/*

lala

*/
.dookoo a {
  color: black;
}
.dookoo a {
  font-family: "Verdana", 'Baka', serif;
}
.dookoo {
    @fi: @fa;
    @fa: grey;
    color: .alt > @base-color - .alt > @base-color;
    line-height: 1999px;
    .blah {
      .bloop {
        @supernested: iceberg;
      }
    }
}
.alt {
    @base-color: #876956 - #111;
    @darker-color: @base-color - @base-color;
    @another-color: @base-color;
}
#kelkoo {
  color: .dookoo > .blah > .bloop > @supernested;
}
.altfoo { color: .alt > @base-color; }
.foo { border: 1px solid black; color: @base-color; }
.foo2 {
  width: 10px * 2;
}
#content {    
    font-size: "};(*#)";
    @some-color: blue;    
    #header {        
        .foo;
        font-size: #222 / 2;    
    }
    #main-page {
        #content > .small;
    }    
    .small {       
         color: @base-color;        
         font-size: 12 / 2;    
         .hover_controls {
            line-height: 16px;
             display: none;
             color: #content > @some-color;
             border: 1px solid #fff;
         }
    }
    .small:hover {
        background-color: #eee + #content > @some-color;
        .hover_controls {
            .dookoo;
            display: inline-block;
        }
    }
}
.sidebar {
    #content > .small;
}