// LESS
// the main color
@base-color: #fff;
@darker-color: @base-color / 2;

.dookoo a {
  color: black;
}
.dookoo a {
  color: white;
}
.dookoo {
    @fa: grey;
    color: @fa;
    line-height: 11px;
}
.alt {
    @base-color: green;
    @darker-color: @base-color / 2;
    @another-color: * > @base-color;
}
.altfoo { color: .alt > @base-color; }
.foo { border: 1px solid black; color: @base-color; }

#content {    
    font-size: 12px;
    @some-color: blue;    
    #header {        
        .foo;
        font-size: * 2;    
    }
    #main-page {
        #content > .small;
    }    
    .small {       
         color: @base-color;        
         font-size: / 2;    
         .hover_controls {
            line-height: 16px;
             display: none;
             color: #content > @some-color;
             border: 1px solid #fff;
         }
    }
    .small:hover {
        background-color: #eee + #content > @some-color;
        .hover_controls {
            .dookoo;
            display: inline-block;
        }
    }
}
.sidebar {
    #content > .small;
}