@width: 20px;
@color: orange;

.mixin { border: 1px solid black; }
.mixout { border-color: orange; }

#first > .one {
  > #second .two > #deux {
    width: 50%;
    #third {
      :focus {
        color: yellow;
      }
      color: @color;
      height: 100%;
    }
    #fourth, #fifth {
      color: red;
      .mixin > .inside;
    }
    .mixout;
  }
  font-size: 2em;
}