module Less
  module StyleSheet
    grammar Common
      #
      # Whitespace
      #
      rule s
        [ ]*
      end

      rule S
        [ ]+
      end

      rule ws
        [\n ]*
      end

      rule WS
        [\n ]+
      end

      # Non-space char
      rule ns
        ![ ;,!})\n] .
      end
    end
  end
end